
#answer-sec {
    width: 540px;
    max-width: 80vw;
    /* background-color: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 80vw;
    margin-bottom: 20px;
    position: fixed;
    /* z-index: 50; */
}
#answer-sec .header {
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#answer-sec #speaker {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
    width: 100%;
    border-radius: 20px;
    /* position: absolute;
    top: -10px; */
}
#answer-sec img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px;
    /* right: -10px; */
}
#answer-sec .header .cancel-icon {
    display: inline;
    position: absolute;
    right: 1%;
    font-size: var(--primary-size);
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
#answer-sec .header .cancel-icon:hover{
    color: var(--white);
    background-color: var(--primary-color);
    transform: translate(1.5);
    font-size: var(--big-size);
    border: 1px solid var(--white);

}
#answer-sec #answer{
    padding: 0 25px 25px 25px;
    cursor: text;
    /* background-color: red; */
}
