@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  font-family:'Times New Roman', Times, serif;
  scroll-behavior: smooth;
  /* border-radius: 4px; */
  /* transition: 0.3s; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  font-family: sans-serif; /* font-sans */
  /* background-color: rgb(252, 252, 252); */
  min-height: 100vh;
  /* overflow-x: hidden; */
}

@media (min-width: 640px) {
  .page {
    /* padding: 5rem; p-20 (20 * 0.25rem = 5rem) */
  }
}


.x{
  background-color: rgba(13, 13, 13, 0.21);
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.no-sellect {
  user-select: none;
}

a {
  width: 500px;
}

@keyframes move {
  from {
    left: -100%;
  }
  to {
    left: 200%;
  }
}

.animate-move {
  animation: move 1s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  animation: slide 5s linear infinite;
  /* transform: (); */
}


.slide {
  transition: 1s ease;
  scroll-behavior: smooth;
}



